# ROS2 build files
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python cache
__pycache__/
*.pyc
*.pyo

# Images générées (trop volumineuses)
ros_launcher/images_detectees/
*.pgm
*.png
*.jpg

# Fichiers temporaires
*.swp
*.swo
*~
.DS_Store

# Docker images (trop volumineuses)
*.tar
ros-docker/*.tar